[submodule "HTML-CSS-JS/Challenge-Easy"]
	path = HTML-CSS-JS/Challenge-Easy
	url = https://github.com/TQKNG/Code-Challenge-Easy



[submodule "HTML-CSS-JS/Challenge-Medium"]
	path = HTML-CSS-JS/Challenge-Medium
	url = https://github.com/TQKNG/Code-Challenge-Medium